@model List<IndexModel.KrisListItem>
<!-- row -->

<div class="section">
    <div class="container">
        <div class="row">
             <h1>Krisinformation:</h1>
            <div class="grid-container">
                @foreach (var item in Model)
                {
                    <div class="singlekris">

                        <a asp-page="/KrisInfoArticle" asp-route-articleid="@item.Id">
                            <h2>@item.Title</h2>
                            <img src="@item.ImageUrl">
                        </a>
                    </div>

                }
            </div>


        </div>
    </div>
</div>


